.card{
    margin-top: 20px;

    .imageContainer{
        width: 200px;
        height: 200px;
        margin-right: 70px;
        margin-left: 70px;
    
        img{
            width: 100%;
            height: auto;
        }
    }

    .productInformation{
        margin-top: 30px
    }
}



